/* main rules */
body {
    background-color: #f4f4f4;
    overflow: auto;

}

.navbar {
    background-color: #333;
    color: #fff;
    height: 60px;
    margin-top: 5px;
    /* تحديد ارتفاع النافبار */
    padding-top: 10px;
    /* ضبط المسافة العمودية للنافبار من الأعلى */
    padding-bottom: 10px;
    /* ضبط المسافة العمودية للنافبار من الأسفل */
}

.navbar-inverse .navbar-brand {
    color: #ed7c0b;
}

.navbar-brand {
    padding: 5px 15px;
    /* تباعد النص عن شعار البراند */
    font-size: 20px;

    /* ضبط المسافة داخل شعار الموقع */
}

.navbar-brand a {
    color: #f0932b;
}

.navbar-nav li a {
    padding: 10px 15px;
    font-size: 18px;

    /* ضبط المسافة بين عناصر النافبار */
}

@media (max-width: 768px) {
    .navbar-nav li {
        padding: 10px 0;
    }
}

@media (max-width: 900px) {
    .navbar-nav li {
        padding: 10px 0;
    }

    .navbar {
        height: 100px;
    }
}

@media (max-width: 768px) {
    .navbar {
        height: 100px;
    }
}

/* login */
.login {
    width: 400px;
    margin: 100px auto;
}

.login input {
    margin-bottom: 10px;
}

.login .form-control {
    background-color: #e5e5e5;
    position: relative;
}

.signup {
    width: 400px;
    margin: 100px auto;
}

.signup input {
    margin-bottom: 10px;
}

.signup .form-control {
    background-color: #e5e5e5;
    position: relative;
}



h1 {
    font-size: 55;
    font-weight: bold;
    color: #666;
    margin: 40px 0;


}

/* categpries front */

.item-box {
    position: relative;

}

.item-box .price-tag {
    background-color: #3c2424;
    padding: 2px 0;

    color: rgb(218, 207, 193);

    font-weight: 600;

    position: absolute;
    left: 0px;

    top: 10px;

}

.upper-bar {
    padding: 10px;
    background-color: #FFF;
}